
@{
    ViewBag.Title = "Unit";
}

<div class="jumbotron jumbotron-fluid unit-jumbotron" style="background-image:url(/Content/Images/Backgrounds/@(ViewBag.unit).jpg);">
    <div class="container">
        <h1 class="display-4">Κεφάλαιο @(ViewBag.num)</h1>
        <p class="lead">@(ViewBag.unitTitle)</p>
    </div>
</div>
<div class="container">
    @foreach(string person in ViewBag.people)
    {
        <div class="col-xs-4 text-center">
            <div id="@(person)" class="person">
                <img src="~/Content/Images/People/@(person).jpg" height="300"/>
            </div>
        </div>
    }
</div>

<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 id="name" class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-3">
                    <img id="img" />
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">Ημ. Γέννησης:</div>
                        <div id="birthdate" class="col-xs-10"></div>
                        <div class="col-xs-2">Τόπος Γέννησης:</div>
                        <div id="birthplace" class="col-xs-10"></div>
                        <div class="col-xs-2">Ημ. Θανάτου:</div>
                        <div id="deathdate" class="col-xs-10"></div>
                        <div class="col-xs-2">Τόπος Θανάτου:</div>
                        <div id="deathplace" class="col-xs-10"></div>
                    </div>
                    <div class="row">
                        <div id="desc" class="col-xs-12"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>