@{
    ViewBag.Title = "Home";
}

<div>
    <div class="jumbotron jumbotron-fluid main-menu-jumbotron">
        <div class="container">
            <h1 class="display-4">Πρόσωπα του 1821</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-center">
                <div class="main-menu-action" action="Units">
                    <span class="fa fa-book"></span>
                    Υλικό
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="main-menu-action" action="Quizes">
                    <span class="fa fa-pencil"></span>
                    Αξιολόγηση
                </div>
            </div>
        </div>
    </div>
</div>